body {
    color: #222;
    font: 13px/18px arial, sans-serif;
    margin: -2px;
    overflow-x:hidden;
}
div {
    display:block;
}
h3 {
    margin:30px 5px 5px;
}
.workspace {
    max-width:900px;
    margin:auto;
}
.my-header {
    position:fixed;
    background:#303030;
    color:whitesmoke;
    line-height:40px;
    width:100%;
    z-index:999;
}
.my-sidebar {
    font-size:11pt;
    float:left;
    line-height:15pt;
    padding-top:60px;
    position:fixed;
    width:200px;
    height:80%;
    overflow-y:auto;
}
.my-view {
    margin-left:220px;
    padding:60px 20px;
}

.top-search {
    background:#303030;
    border:0;
    color:whitesmoke;
    font:calibri;
    line-height:20px;
    height:20px;
    width:300px;
    outline:none;
    margin-left:170px;
    padding:4px;
    vertical-align:middle;
    text-transform:capitalize;
}
.top-search:hover {
    background:gray;
}
.top-search:focus {
    background:white;
    color:black;
}
.on-right {
    float:right;
    top:0;
    right:0;
}
.my-task {
    border-bottom:1px solid lightgray;
    padding:5px 0px 5px 5px;
}
.my-button {
    border-radius: 4px;
    cursor:pointer;
    color:gray;
    display:inline-block;
    font-weight:bold;
    padding:5px 10px;
    min-width: 50px;
    text-align:center;
    margin-top:2px;
}
.my-button:hover {
    color:black;
    text-decoration:underline;
}
.dark-theme {
    background:#303030;
    color:white;
}
.dark-theme:hover {
    color:white;
    text-decoration:none;
}
.long-text {
    border:0;
    line-height:22px;
    height:22px;
    width:300px;
    padding:4px;
    outline:none;
}
.short-date {
    display:inline-block;
    cursor:pointer;
    border:0;
    line-height:22px;
    height:22px;
    width:50px;
    padding:4px;
    outline:none;
}
.short-text {
    border:0;
    line-height:22px;
    height:22px;
    width:50px;
    padding:4px;
    outline:none;
}
.normal-text {
    border:0;
    line-height:22px;
    height:22px;
    width:90px;
    padding:4px;
    outline:none;
}
.my-icon {
    float:right;
    height:20px;
    line-height:20px;
    width:20px;
    border-radius:25px;
    color:dimgray;
    text-align:center;
    padding:2px;
    overflow:hidden;
    font-size:7pt;
    cursor:pointer;
    vertical-align:middle;
    margin:5px 2px;
    font-size:14pt;
}
.my-icon:hover {
    background:whitesmoke;
    color:black;
}
.red-icon {
    float:right;
    height:20px;
    line-height:20px;
    width:20px;
    border-radius:25px;
    border:1px solid tomato;
    color:tomato;
    text-align:center;
    padding:2px;
    overflow:hidden;
    font-size:7pt;
    cursor:pointer;
    vertical-align:middle;
    margin:4px;
}
.red-icon:hover {
    background:tomato;
    color:white;
}
.my-indent {
    padding-left:30px;
}
.my-indent .long-text {
    width:275px;
}
.short {
    width:280px;
}
.my-borders {
    border:1px solid lightgray;
}
.my-border {
    border-bottom:1px solid lightgray;
}

.my-link, a, a:visited {
    color:black;
    cursor: pointer;
    text-decoration:none;
}
.my-link:hover, a:hover {
    text-decoration: underline;
}

.loading {
    margin-left:10px;
    color:lightgray;
}

.bold {
    font-weight:bold;
}
.red {
    color:indianred;
}
.gray {
    color:gray;
    font-size:9pt;
    font-weight:normal;
    margin-left:5px;
}

#timeline {
    height:75vh;
}

/* Custom FA icons */
.fa {
    cursor:pointer;
    font-size:14px;
    margin-right:5px;
    padding-left:5px;
}
.fa-icon {
    font-size:24px;
    vertical-align:middle;
    padding:4px;
    line-height:40px;
}
.fa-icon:hover {
    background: rgba(100,100,100,0.7);
}

/* Custom checkbox */
.checkbox {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border:1px solid #ccc;
    border-radius:25px;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
    background-color: gray; /* #2196F3; */
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* scrollbar */
::-webkit-scrollbar {
    width:0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgray;
    opacity: 1;
}

.fade-enter-active /*, .fade-leave-active */ {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

.router-link-active {
    font-weight:bold;
}

.TreeNavigation li {
    padding-left:1px;
}

.NavigationLevel__children li {
    padding-left: 2px;
}

.NavigationLevel__parent {
    font-weight:bold;
    padding-top:0;
}

.NavigationItem {
    color:black;
    padding-top:0;
}

.datepicker-top-left, .datepicker-top-right {
    border-top-color: gray;
}



/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    .workspace {
        width:100%;
    }
    .my-sidebar {
        display:none;
    }   
    .my-view {
        margin-left:0;
        padding:60px 10px;
    }
    .top-search {
        width:150px;
        margin-left:0px;
    }
}

/* Medium devices (desktops, 992px and up) 
@media (min-width: 992px) {
    
} */

/* Large devices (large desktops, 1200px and up) 
@media (min-width: 1200px) { 
    
} */
